<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        
        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <image href="https://image.flaticon.com/icons/svg/2994/2994319.svg" width="100%" height="100%"/> 
        </svg>

        <h2 style="font-weight: bold">Це зручно</h2>
        <p>Все, що потрібно для організації подорожі, в одному місці! У нас ви знайдете вигідні авіаквитки, житло, авторські екскурсії та путівники по містах і країнах. Найцікавіші пропозиції будуть приходити вам на пошту і в соцмережі.</p>
        <p><a class="btn btn-secondary" href="#anchor1" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <image href="https://image.flaticon.com/icons/svg/2916/2916115.svg" width="100%" height="100%"/> 
        </svg>

        <h2 style="font-weight: bold">Це вигідно</h2>
        <p>Не потрібно переплачувати! Ми порівнюємо і аналізуємо ціни на авіаквитки і житло, допомагаємо вибрати оптимальний варіант. Оперативно сповіщаємо про знижки та привабливих акціях. Не беремо комісію і не встановлюємо націнку.</p>
        <p><a class="btn btn-secondary" href="#anchor2" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <image href="https://image.flaticon.com/icons/svg/2950/2950226.svg" width="100%" height="100%"/> 
        </svg>
        <h2 style="font-weight: bold">Це надихає</h2>
        <p>З нами ви почнете подорожувати вигідніше і частіше! Подорожуйте з TRAVELUS, діліться своїми враженнями та дізнавайтесь більше цікавої інформації від інших мандрівників.</p>
        <p><a class="btn btn-secondary" href="#anchor3" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!--  -->
    <div class="container marketing">
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7" id="anchor1">
          <h2 class="featurette-heading" >Витрачайте на планування подорожі вдвічі менше часу!</h2>
          <p class="lead">Вимкніть всі інші вкладки свого браузеру. У нас ви знайдете вигідні авіаквитки, житло, авторські екскурсії та путівники по містах і країнах. Найцікавіші пропозиції будуть приходити вам на пошту і в соцмережі.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <image href="https://i.imgur.com/bqgE4re.jpg" width="100%" height="100%"/> 
          </svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2" id="anchor2">
          <h2 class="featurette-heading">Витрачайте кошти на якісну подорож, а не на послги тур-операторів</h2>
          <p class="lead"> Ми порівнюємо і аналізуємо ціни на авіаквитки і житло, допомагаємо вибрати оптимальний варіант. </p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
            <image href="https://i.imgur.com/1f7nO3q.jpg" width="100%" height="100%"/> 
          </svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7" id="anchor3">
          <h2 class="featurette-heading">Створюйте спільноту мандрівників разом з нашою командою!</h2>
          <p class="lead"> Подорожуйте з TRAVELUS, діліться своїми враженнями та дізнавайтесь більше цікавої інформації від інших мандрівників.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
            <image href="https://i.imgur.com/IwMvbJF.jpg" width="100%" height="100%"/> 
          </svg>
        </div>
      </div>
  
      <hr class="featurette-divider">
  </div>
